<h2>edit New Gallery</h2>

<%= form_for @gallery do |f| %>

  <% if @gallery.errors.any? %>
    <% @gallery.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <%= link_to "Cancel", galleries_path, class:'btn btn-default' %>
<% end %>

<h3 class="page-header">Images in <%= @gallery.name %></h3>
<div id="edit_images">
  <% if @images.exists? %>
    <% @images.each_slice(6) do |image| %>
      <div class="row">
        <% image.each do |image| %>
          <div class="col-md-2">
            <%= image_tag image.image_url(:thumb) %>
            <div style="text-align:center">
              <%= link_to "Delete", image_path(image),class:'delete', method: :delete, data: {confirm: 'Are you sure?'} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>