<h2>Add New Gallery</h2>

<%= form_for @gallery do |f| %>

  <% if @gallery.errors.any? %>
    <% @gallery.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <%= link_to "Cancel", galleries_path, class:'btn btn-default' %>
<% end %>
