<!DOCTYPE html>
<html>
<style>


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (max-width: 768px) {
    .navbar {
      background-color: #f9f9f9;
    }
    .navbar-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    .dark-nav a{
      color: #000000 !important;
      border-color:#000000 !important;
    }

    .dark-nav a.btn.btn-outline-light{
      color: #000000 !important;
      border-color:#000000 !important;
      margin-left: 24px;
      margin-bottom: 12px;
      margin-top: 25px;
    }
  }
    #toast-container{
      top: 72px;
  }


    @media (min-width: 768px) {
      .nav-item {
        font-family: "Old Stansard", serif;
        padding-right: .5rem;
        padding-left: .5rem;
      }
      .dark-nav a.btn.btn-outline-light{

        margin-left: 30px;

      }
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    main > .container-fluid {
      padding: 60px 15px 0;
    }
      /*
          .footer {
            background-color: #f5f5f5;
          }

          .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
          }

          code {
            font-size: 80%;
          }
      */

  }
</style>
  <head>

    <title>TolstosheevPhoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- ==============================================
	  CSS VENDOR
  	=============================================== -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body class="d-flex flex-column h-100 ">
  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
  <% end %>

  <header>
    <!-- Fixed navbar -->
    <% if current_page?(home_path) %>
      <nav class="navbar navbar-expand-md navbar-dark navbar-collapse fixed-top" id="nav-black">
        <h5> <a class="navbar-brand"><%= link_to "Dmitry Tolstosheev Photography", home_path %></a></h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse dark-nav" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Home", home_path %> </a>
            </li>
            <% @galleryNav.each do |gallery| %>
              <li class="nav-item"><a class="nav-link"><%= link_to gallery.name, gallery_path(gallery.id) %></a></li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Price", home_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Contact", home_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "About", home_path %> </a>
            </li>
          </ul>

              <% if current_user.nil? %>
                <%= link_to new_user_session_path, class: 'btn btn-outline-light' do %>Sign in<% end %>
              <% else %>
                <%= link_to destroy_user_session_path, class: 'btn btn-outline-light', method: :delete do %>Log out<% end %>
              <% end %>

        </div>
      </nav>

      </header>

      <%= yield %>
      <div class="footer">
        <!--  <div class="footer"> -->
        <div class="fcopy">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-6 col-md-6">
                <p class="mb-0">&copy; 2020 <span class="text-primary">Dmitry Tolstosheev</span>. All Rights Reserved.</p>
              </div>
              <div class="col-6 col-md-6">
                <div class="sosmed-icon float-right d-inline-flex">
                  <a href="https://www.facebook.com/dreamingcheshir"><i class="fa fa-facebook"></i></a>
                  <a href="https://vk.com/dreamingcheshir"><i class="fa fa-vk"></i></a>
                  <a href="https://www.instagram.com/dreamingcheshir"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <nav class="navbar navbar-expand-md navbar-dark navbar-collapse fixed-top" id="nav-black">
        <h5> <a class="navbar-brand"><%= link_to "Dmitry Tolstosheev Photography", home_path %></a></h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse dark-nav" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Home", home_path %> </a>
            </li>
            <% @galleryNav.each do |gallery| %>
              <li class="nav-item"><a class="nav-link"><%= link_to gallery.name, gallery_path(gallery.id) %></a></li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Price", home_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Contact", home_path %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "About", home_path %> </a>
            </li>
          </ul>

          <% if current_user.nil? %>
            <%= link_to new_user_session_path, class: 'btn btn-outline-light' do %>Sign in<% end %>
          <% else %>
            <%= link_to destroy_user_session_path, class: 'btn btn-outline-light', method: :delete do %>Log out<% end %>
          <% end %>

        </div>
      </nav>
      </header>
      <main role="main" class="flex-shrink-0">
        <div class="container-fluid">

             <%= yield %>



        </div>
      </main>
      <div class="footer mt-auto">
        <!--  <div class="footer"> -->
        <div class="fcopy">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-6 col-md-6">
                <p class="mb-0">&copy; 2020 <span class="text-primary">Dmitry Tolstosheev</span>. All Rights Reserved.</p>
              </div>
              <div class="col-6 col-md-6">
                <div class="sosmed-icon float-right d-inline-flex">
                  <a href="https://www.facebook.com/dreamingcheshir"><i class="fa fa-facebook"></i></a>
                  <a href="https://vk.com/dreamingcheshir"><i class="fa fa-vk"></i></a>
                  <a href="https://www.instagram.com/dreamingcheshir"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>



    <!--</div> -->


 <!-- </div>
  </main>-->
  </body>
<script src="/js/lightgallery-all.js"></script>

</html>
